doctype html
html(lang='en')
  head
    title Template Pug
    style.
      table, th, td {
        border: 1px solid black;
      }
  body
    include input.pug
    .posts
      table
        thead
          tr
            th Id
            th Title
        tbody
          - if (posts && posts.length > 0)
            each post in posts
              tr
                td= post.id
                td= post.title
          - else
            tr
              td(colspan='2') No posts available
